In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.optimize import minimize
from datetime import datetime
import os

In [3]:
hf_df = pd.read_excel("Data/hedge_funds_returns_data.xlsx")
factors_df = pd.read_excel("Data/factors_returns_data.xlsx")

In [29]:
short_mapping = {
    'Date': 'Date',
    'HFRI 400 (US) Fund Weighted Composite Index (HFRI4FWC)': 'HFRI4FWC',
    'HFRI 400 (US) EH: Long/Short Index (HFRI4ELS)': 'HFRI4ELS',
    'HFRI 400 (US) EH: Fundamental Value Index (HFRI4EHV)': 'HFRI4EHV',
    'HFRI 400 (US) Event-Driven Index (HFRI4ED)': 'HFRI4ED'
    
}

hf_df = hf_df.rename(columns=short_mapping)
hf_df.head()

        Date  HFRI4FWC  HFRI4ELS  HFRI4ED  HFRI4EHV
0 2005-01-31    0.0047    0.0067   0.0012    0.0049
1 2005-02-28    0.0198    0.0279   0.0111    0.0219
2 2005-03-31   -0.0103   -0.0172   0.0002   -0.0111
3 2005-04-29   -0.0124   -0.0165  -0.0105   -0.0137
4 2005-05-31    0.0079    0.0122   0.0064    0.0122

In [30]:
factors_df.tail()

          Date  Mkt-RF     SMB     HML  Mom         RF
216 2023-01-31  0.0665  0.0502 -0.0405 -0.1598  0.0035
217 2023-02-28 -0.0258  0.0121 -0.0078  0.0021  0.0034
218 2023-03-31  0.0251 -0.0559 -0.0901 -0.0250  0.0036
219 2023-04-28  0.0061 -0.0334 -0.0003  0.0165  0.0035
220 2023-05-31  0.0035  0.0153 -0.0780 -0.0063  0.0036

In [31]:
hf_df.tail()

          Date  HFRI4FWC  HFRI4ELS  HFRI4ED  HFRI4EHV
216 2023-01-31    0.0246    0.0436   0.0284    0.0499
217 2023-02-28   -0.0046   -0.0117   0.0019   -0.0110
218 2023-03-31   -0.0137   -0.0015  -0.0205   -0.0050
219 2023-04-28    0.0021    0.0008   0.0022    0.0019
220 2023-05-31   -0.0036    0.0007  -0.0189   -0.0067

In [32]:
def check_dataframe_info(df, name):
    print(f"\n=== {name} INFO ===")
    print(f"Shape: {df.shape}")
    print(f"Date range: {df.index.min()} to {df.index.max()}")
    print(f"Total NaN values: {df.isnull().sum().sum()}")
    print(f"Index is sorted: {df.index.is_monotonic_increasing}")
    print(f"Index type: {type(df.index)}")
    print("\nNaN values per column:")
    print(df.isnull().sum())
    print("\nFirst 2 rows:")
    print(df.head(2))
    print("\nLast 2 rows:")
    print(df.tail(2))

def check_alignment(df1, df2, name1, name2):
    print(f"\n=== ALIGNMENT CHECK ===")
    print(f"{name1} date range: {df1.index.min()} to {df1.index.max()}")
    print(f"{name2} date range: {df2.index.min()} to {df2.index.max()}")
    
    # Check common dates
    common_dates = df1.index.intersection(df2.index)
    print(f"\nCommon dates across all DataFrames: {len(common_dates)}")
    print(f"Common date range: {common_dates.min()} to {common_dates.max()}")

In [33]:
check_dataframe_info(hf_df, "HEDGE FUNDS")

=== HEDGE FUNDS INFO ===
Shape: (221, 5)
Date range: 0 to 220
Total NaN values: 0
Index is sorted: True
Index type: <class 'pandas.core.indexes.range.RangeIndex'>

NaN values per column:
Date        0
HFRI4FWC    0
HFRI4ELS    0
HFRI4ED     0
HFRI4EHV    0
dtype: int64

First 2 rows:
        Date  HFRI4FWC  HFRI4ELS  HFRI4ED  HFRI4EHV
0 2005-01-31    0.0047    0.0067   0.0012    0.0049
1 2005-02-28    0.0198    0.0279   0.0111    0.0219

Last 2 rows:
          Date  HFRI4FWC  HFRI4ELS  HFRI4ED  HFRI4EHV
219 2023-04-28    0.0021    0.0008   0.0022    0.0019
220 2023-05-31   -0.0036    0.0007  -0.0189   -0.0067

In [34]:
check_dataframe_info(factors_df, "FACTORS")

=== FACTORS INFO ===
Shape: (221, 6)
Date range: 0 to 220
Total NaN values: 0
Index is sorted: True
Index type: <class 'pandas.core.indexes.range.RangeIndex'>

NaN values per column:
Date      0
Mkt-RF    0
SMB       0
HML       0
Mom       0
RF        0
dtype: int64

First 2 rows:
        Date  Mkt-RF     SMB     HML  Mom         RF
0 2005-01-31 -0.0276 -0.0172  0.0206  0.0305  0.0016
1 2005-02-28  0.0189 -0.0057  0.0153  0.0337  0.0016

Last 2 rows:
          Date  Mkt-RF     SMB     HML  Mom         RF
219 2023-04-28  0.0061 -0.0334 -0.0003  0.0165  0.0035
220 2023-05-31  0.0035  0.0153 -0.0780 -0.0063  0.0036

In [35]:
check_alignment(hf_df,factors_df,  
                "HEDGE FUNDS", "FACTORS")

=== ALIGNMENT CHECK ===
HEDGE FUNDS date range: 0 to 220
FACTORS date range: 0 to 220

Common dates across all DataFrames: 221
Common date range: 0 to 220

In [36]:
hf_df.describe()

,Date,HFRI4FWC,HFRI4ELS,HFRI4ED,HFRI4EHV
count,221,221.000000,221.000000,221.000000,221.000000
mean,2014-03-31 01:31:13.303167488,0.004832,0.005819,0.004905,0.005545
min,2005-01-31 00:00:00,-0.065400,-0.091700,-0.142100,-0.114200
25%,2009-08-31 00:00:00,-0.004100,-0.009300,-0.003500,-0.009700
50%,2014-03-31 00:00:00,0.006000,0.008000,0.008000,0.009000
75%,2018-10-31 00:00:00,0.014800,0.021900,0.013900,0.020900
max,2023-05-31 00:00:00,0.055400,0.088400,0.076500,0.111000
std,NaN,0.016772,0.026211,0.020738,0.027899

In [37]:
factors_df.describe()

,Date,Mkt-RF,SMB,HML,Mom,RF
count,221,221.000000,221.000000,221.000000,221.000000,221.000000
mean,2014-03-31 01:31:13.303167488,0.007315,0.000215,-0.001251,0.000777,0.001027
min,2005-01-31 00:00:00,-0.172300,-0.059300,-0.139500,-0.343000,0.000000
25%,2009-08-31 00:00:00,-0.017600,-0.018200,-0.018500,-0.017900,0.000000
50%,2014-03-31 00:00:00,0.011800,0.000800,-0.003300,0.004300,0.000100
75%,2018-10-31 00:00:00,0.032400,0.014800,0.013200,0.025600,0.001800
max,2023-05-31 00:00:00,0.136500,0.073400,0.127500,0.127500,0.004400
std,NaN,0.045135,0.024461,0.032573,0.044931,0.001355

In [38]:
factors_df = factors_df.rename(columns={'Mom   ': 'Mom'})

In [39]:
def calculate_betas(hf_df, factors_df):
    """
    Calculate betas for each hedge fund against each factor
    """
    betas_dict = {}
    
    # Get hedge fund columns (excluding Date)
    hf_columns = [col for col in hf_df.columns if col != 'Date']
    
    for hf in hf_columns:
        # β₁ᵢ = Cov(RHFᵢ, RMkt-RF) / Var(RMkt-RF)
        beta1 = np.cov(hf_df[hf], factors_df['Mkt-RF'])[0,1] / np.var(factors_df['Mkt-RF'], ddof=1)
        
        # β₂ᵢ = Cov(RHFᵢ, RSMB) / Var(RSMB)
        beta2 = np.cov(hf_df[hf], factors_df['SMB'])[0,1] / np.var(factors_df['SMB'], ddof=1)
        
        # β₃ᵢ = Cov(RHFᵢ, RHML) / Var(RHML)
        beta3 = np.cov(hf_df[hf], factors_df['HML'])[0,1] / np.var(factors_df['HML'], ddof=1)
        
        # β₄ᵢ = Cov(RHFᵢ, RMom) / Var(RMom)
        beta4 = np.cov(hf_df[hf], factors_df['Mom'])[0,1] / np.var(factors_df['Mom'], ddof=1)
        
        # β₅ᵢ = Cov(RHFᵢ, RF) / Var(RF)
        beta5 = np.cov(hf_df[hf], factors_df['RF'])[0,1] / np.var(factors_df['RF'], ddof=1)
        
        betas_dict[hf] = {
            'beta_mkt': beta1,
            'beta_smb': beta2, 
            'beta_hml': beta3,
            'beta_mom': beta4,
            'beta_rf': beta5
        }
    
    return betas_dict

betas_dict = calculate_betas(hf_df, factors_df)

In [40]:
def calculate_quarterly_betas(hf_df, factors_df):
    """
    Calculate betas for each hedge fund against each factor on a rolling quarterly basis
    Each quarter will have exactly 3 monthly data points
    """
    # Convert Date column to datetime
    hf_df = hf_df.copy()
    factors_df = factors_df.copy()
    hf_df['Date'] = pd.to_datetime(hf_df['Date'])
    factors_df['Date'] = pd.to_datetime(factors_df['Date'])
    
    # Merge dataframes on Date
    merged_df = pd.merge(hf_df, factors_df, on='Date', how='inner')
    merged_df = merged_df.sort_values('Date')
    
    # Get hedge fund columns
    hf_columns = [col for col in hf_df.columns if col != 'Date']
    
    # Create quarterly groupings starting from 2012
    merged_df['Year'] = merged_df['Date'].dt.year
    merged_df['Month'] = merged_df['Date'].dt.month
    merged_df['Quarter'] = merged_df['Month'].apply(lambda x: f"Q{((x-1)//3)+1}")
    merged_df['YearQuarter'] = merged_df['Year'].astype(str) + ' ' + merged_df['Quarter']
    
    # Filter data from 2012 onwards
    merged_df = merged_df[merged_df['Year'] >= 2012]
    
    # Dictionary to store results
    quarterly_betas_dict = {}
    
    # Get unique quarters
    quarters = merged_df['YearQuarter'].unique()
    quarters = sorted(quarters)
    
    for hf in hf_columns:
        quarterly_results = []
        
        for quarter in quarters:
            # Get data for this specific quarter
            quarter_data = merged_df[merged_df['YearQuarter'] == quarter]
            
            # Skip if we don't have exactly 3 months or if any data is missing
            if len(quarter_data) != 3:
                continue
                
            # Check for missing values
            if quarter_data[hf].isna().any() or quarter_data[['Mkt-RF', 'SMB', 'HML', 'Mom', 'RF']].isna().any().any():
                continue
            
            try:
                # Calculate variances first and check if they're valid
                var_mkt = np.var(quarter_data['Mkt-RF'], ddof=1)
                var_smb = np.var(quarter_data['SMB'], ddof=1)
                var_hml = np.var(quarter_data['HML'], ddof=1)
                var_mom = np.var(quarter_data['Mom'], ddof=1)
                var_rf = np.var(quarter_data['RF'], ddof=1)
                
                # Calculate betas only if variance is not zero or NaN
                beta_mkt = np.cov(quarter_data[hf], quarter_data['Mkt-RF'])[0,1] / var_mkt if var_mkt != 0 and not np.isnan(var_mkt) else np.nan
                beta_smb = np.cov(quarter_data[hf], quarter_data['SMB'])[0,1] / var_smb if var_smb != 0 and not np.isnan(var_smb) else np.nan
                beta_hml = np.cov(quarter_data[hf], quarter_data['HML'])[0,1] / var_hml if var_hml != 0 and not np.isnan(var_hml) else np.nan
                beta_mom = np.cov(quarter_data[hf], quarter_data['Mom'])[0,1] / var_mom if var_mom != 0 and not np.isnan(var_mom) else np.nan
                beta_rf = np.cov(quarter_data[hf], quarter_data['RF'])[0,1] / var_rf if var_rf != 0 and not np.isnan(var_rf) else np.nan
                
                quarterly_results.append({
                    'Quarter': quarter,
                    'β_Mkt-RF': beta_mkt,
                    'β_SMB': beta_smb,
                    'β_HML': beta_hml,
                    'β_Mom': beta_mom,
                    'β_RF': beta_rf
                })
                
            except:
                continue
        
        # Convert to DataFrame
        if quarterly_results:
            quarterly_betas_dict[hf] = pd.DataFrame(quarterly_results)
    
    return quarterly_betas_dict

quarterly_betas_dict = calculate_quarterly_betas(hf_df, factors_df)

In [41]:
hf_df.columns

Index(['Date', 'HFRI4FWC', 'HFRI4ELS', 'HFRI4ED', 'HFRI4EHV'], dtype='object')

In [42]:
quarterly_betas_dict

{'HFRI4FWC':     Quarter  β_Mkt-RF     β_SMB     β_HML     β_Mom        β_RF
 0   2012 Q1  1.251557  0.214303 -0.981955 -0.186317         NaN
 1   2012 Q2  0.226077  0.446721  0.983295 -0.271952 -208.500000
 2   2012 Q3 -0.160003 -0.097370 -0.180802  0.075068  -32.000000
 3   2012 Q4  0.532527  0.662602 -0.011389 -0.400221         NaN
 4   2013 Q1  0.500617  0.658718  1.783607 -0.560506         NaN
 5   2013 Q2  0.557910 -0.293301  0.474146 -0.443491         NaN
 6   2013 Q3  0.276035  0.922707  0.603667  0.792452         NaN
 7   2013 Q4  0.388637 -0.144570  0.421262 -0.368217         NaN
 8   2014 Q1  0.278185  0.257333 -0.083052  0.216134         NaN
 9   2014 Q2  0.587732  0.174254 -0.880819  0.330776         NaN
 10  2014 Q3  0.247846  0.354003 -0.029592  1.658056         NaN
 11  2014 Q4  0.187737 -0.232255 -0.152957  0.383914         NaN
 12  2015 Q1  0.141804 -0.007250  0.095204 -0.193137         NaN
 13  2015 Q2  0.934372 -0.318610  0.262911 -0.042477         NaN
 14  2015 Q3  0.322788 -0.498887 -0.351227  0.192384         NaN
 15  2015 Q4  0.185350  0.077484  0.748233 -0.252211 -163.500000
 16  2016 Q1  0.297371  0.689077 -0.471101 -0.485251  285.500000
 17  2016 Q2  0.439850 -0.512615  0.030429 -0.037668  -68.500000
 18  2016 Q3  0.288671  0.769231 -0.165812 -0.081219         NaN
 19  2016 Q4  0.172926  0.103532  0.044356 -0.112870   21.500000
 20  2017 Q1  0.189743 -0.207640  0.352648 -0.479532   58.000000
 21  2017 Q2  1.703535 -0.067054 -0.092314  0.220144  -36.000000
 22  2017 Q3  0.020573 -0.032650 -0.021421  0.025227  -16.750000
 23  2017 Q4 -0.290559 -0.804172  3.677725  0.122386   88.000000
 24  2018 Q1  0.420368 -0.376884 -1.542961  0.207629  351.000000
 25  2018 Q2  0.230884  0.132322 -0.058264  0.109328         NaN
 26  2018 Q3  0.092465  0.054083 -0.010299  0.020683   30.000000
 27  2018 Q4  0.113888  0.458448 -0.230590  0.090702  -41.000000
 28  2019 Q1  0.339627  0.292483  0.679552 -0.215641   73.714286
 29  2019 Q2  0.211043  0.692207  0.444533 -0.254534  -57.333333
 30  2019 Q3  0.167361 -0.010276  0.015471  0.003003   34.571429
 31  2019 Q4  0.084646  1.433363  0.286768 -0.195069   -7.750000
 32  2020 Q1  0.469699  0.559569  0.551113 -0.348363 -139.000000
 33  2020 Q2  0.256403 -8.304348  0.342189 -0.432390 -244.000000
 34  2020 Q3  0.309018 -1.034000  1.082774  0.155591         NaN
 35  2020 Q4  0.351749  3.377758 -0.525539 -0.321198         NaN
 36  2021 Q1  0.430214 -0.030050  0.320920 -0.153659 -149.000000
 37  2021 Q2  0.222895 -0.386280  0.048997 -0.944046         NaN
 38  2021 Q3  0.063481  0.155195  0.010086  0.225009         NaN
 39  2021 Q4  0.400887 -2.678848  0.373808 -0.044465  142.000000
 40  2022 Q1  0.379162  0.241932 -0.237307  0.590003  263.000000
 41  2022 Q2  0.164175 -0.498497  0.140651  0.284523  -30.921053
 42  2022 Q3  0.203632  1.171890 -0.653015 -0.482824  -26.454545
 43  2022 Q4  0.168764 -0.121538  0.201993 -0.162058  -22.000000
 44  2023 Q1  0.297690  0.334334  0.164400 -0.213749  -45.500000,
 'HFRI4ELS':     Quarter  β_Mkt-RF      β_SMB     β_HML     β_Mom        β_RF
 0   2012 Q1  1.828523   0.297726 -1.422139 -0.268360         NaN
 1   2012 Q2  0.524261   1.547814  2.421659 -0.646844 -457.000000
 2   2012 Q3  0.607259   0.328087  0.794426 -0.176866  106.500000
 3   2012 Q4  0.532592   0.679355  0.030461 -0.453772         NaN
 4   2013 Q1  0.693357   0.700659  2.684543 -0.835919         NaN
 5   2013 Q2  0.734627  -0.091571  0.889518 -0.867569         NaN
 6   2013 Q3  0.461717   1.525695  1.018490  1.309473         NaN
 7   2013 Q4  0.265007  -0.187455  0.278052 -0.972868         NaN
 8   2014 Q1  0.472520   0.366393 -0.113054  0.332459         NaN
 9   2014 Q2  1.031276   0.312674 -1.551526  0.576384         NaN
 10  2014 Q3  0.394719   0.553304  0.327309  2.286778         NaN
 11  2014 Q4  0.207693  -0.179431 -0.148891  0.148004         NaN
 12  2015 Q1  0.328718   0.119944  0.371908 -0.444110         NaN
 13  2015 Q2  1.219429  -0.463217  0.448867 -0.080514         NaN
 14  2015 Q3  0.420250  -0.643947 -0.458259  0.248747         NaN
 15  2015 Q4  0.292846  -0.087461  0.766321 -0.422531 -169.500000
 16  2016 Q1  0.628440   1.418618 -0.873880 -1.002606  587.000000
 17  2016 Q2  1.393126  -1.763972  0.057528 -0.099454 -208.000000
 18  2016 Q3  0.351037   0.862348 -0.177633 -0.126759         NaN
 19  2016 Q4  0.300914   0.191930  0.196323 -0.266733   -4.500000
 20  2017 Q1  0.074825  -0.117781  0.075499  0.219298   44.500000
 21  2017 Q2  0.761688  -0.017456 -0.035159  0.062035  -22.000000
 22  2017 Q3  0.249938   0.064834  0.105650 -0.119355   -6.250000
 23  2017 Q4 -0.205062  -0.422070  1.881517  0.051979   51.000000
 24  2018 Q1  0.530826  -0.501508 -2.153388  0.307171  446.500000
 25  2018 Q2  0.762575   0.426394 -0.312149  0.306422         NaN
 26  2018 Q3  0.270572   0.150435 -0.021823  0.055637   88.000000
 27  2018 Q4  0.346424   1.033120 -0.305376 -0.133569 -162.500000
 28  2019 Q1  0.709835   0.684963  1.440085 -0.436816  137.642857
 29  2019 Q2  0.349188   1.160577  0.729167 -0.420332  -95.666667
 30  2019 Q3  0.366164   0.506634  0.085866 -0.048600   60.785714
 31  2019 Q4 -0.155585   0.856440  0.328779 -0.064495    2.750000
 32  2020 Q1  0.585327   0.717595  0.695858 -0.448372 -184.000000
 33  2020 Q2  0.449403 -13.673913  0.677860 -0.783167 -435.500000
 34  2020 Q3  0.470688  -1.413827  1.379448  0.171556         NaN
 35  2020 Q4  0.569925   5.560933 -0.668381 -0.571813         NaN
 36  2021 Q1  0.738586  -0.053130  0.550606 -0.263156 -255.500000
 37  2021 Q2  0.356842  -0.402985  0.007137 -0.607773         NaN
 38  2021 Q3  0.217464   0.082647 -0.120077  0.259473         NaN
 39  2021 Q4  0.569285  -3.715947  0.608228 -0.117415  230.500000
 40  2022 Q1  0.506781   0.504684 -0.347447  0.897941  290.500000
 41  2022 Q2  0.464710  -0.628032  0.185655 -0.119015  -10.236842
 42  2022 Q3  0.445116   2.413366 -1.532808 -1.075571  -61.363636
 43  2022 Q4  0.370084  -0.565618  0.338704 -0.496656  -43.776316
 44  2023 Q1  0.584098   0.357613 -0.039874 -0.339317   51.000000,
 'HFRI4ED':     Quarter  β_Mkt-RF     β_SMB     β_HML     β_Mom        β_RF
 0   2012 Q1  0.688885  0.234930 -0.635595 -0.131847         NaN
 1   2012 Q2  0.262827  0.845628  1.233295 -0.326485 -225.500000
 2   2012 Q3  0.357375  0.202300  0.443457 -0.128111   66.000000
 3   2012 Q4  0.349625  0.494175  0.141019 -0.452593         NaN
 4   2013 Q1  0.400140  0.511337  1.440984 -0.452282         NaN
 5   2013 Q2  0.815821 -0.084883  1.002960 -0.979635         NaN
 6   2013 Q3  0.262123  0.829704  0.596238  0.710356         NaN
 7   2013 Q4  0.675936 -0.239642  0.733901 -0.544574         NaN
 8   2014 Q1  0.175376  0.504189 -0.187854  0.303889         NaN
 9   2014 Q2  0.427906  0.152794 -0.663703  0.225757         NaN
 10  2014 Q3  0.153116  0.205658  0.447610  0.584063         NaN
 11  2014 Q4 -0.197960 -0.342058  0.007368  1.690625         NaN
 12  2015 Q1  0.295256  0.372305  0.626607 -0.391929         NaN
 13  2015 Q2  0.812826 -0.336627  0.361355 -0.068409         NaN
 14  2015 Q3  0.175203 -0.201179 -0.202907  0.082877         NaN
 15  2015 Q4  0.121392 -0.074680  0.241524 -0.179552  -54.000000
 16  2016 Q1  0.380874  0.887934 -0.620730 -0.624774  368.000000
 17  2016 Q2  0.902256 -0.801004  0.131746 -0.112691 -156.500000
 18  2016 Q3  0.102725  0.234818 -0.046222 -0.043810         NaN
 19  2016 Q4  0.258770  0.171124  0.230312 -0.265669  -25.500000
 20  2017 Q1  0.371682 -0.446386  0.620587 -0.488304  137.500000
 21  2017 Q2  1.791904 -0.098893 -0.110954  0.313974  -24.500000
 22  2017 Q3  0.190838  0.045461  0.077463 -0.087402   -6.500000
 23  2017 Q4 -0.788003 -0.908285  3.727488  0.031017  141.500000
 24  2018 Q1  0.196324 -0.274437 -1.508975  0.269974  176.500000
 25  2018 Q2 -0.069739 -0.044785 -0.036561 -0.057757         NaN
 26  2018 Q3 -0.084755 -0.086182  0.048337 -0.041815  -26.500000
 27  2018 Q4  0.093995  0.171203  0.036717 -0.159871  -55.500000
 28  2019 Q1  0.304128  0.300398  0.618864 -0.185848   57.428571
 29  2019 Q2  0.140134  0.217842  0.395714 -0.181936  -25.333333
 30  2019 Q3  0.467246  1.117066  0.155830 -0.111082   64.357143
 31  2019 Q4  0.130816  1.766547  0.333194 -0.247103  -10.500000
 32  2020 Q1  1.004186  1.468653  1.300132 -0.936206 -442.000000
 33  2020 Q2  0.316492 -8.021739  0.619892 -0.597727 -321.000000
 34  2020 Q3  0.240457 -0.122940 -0.298825 -0.155744         NaN
 35  2020 Q4  0.482328  4.751128 -0.472272 -0.510128         NaN
 36  2021 Q1  0.046924  0.082277  0.054254 -0.052495  -33.000000
 37  2021 Q2  0.330263 -0.452499  0.032929 -0.896086         NaN
 38  2021 Q3 -0.003360  0.333788  0.117247  0.377571         NaN
 39  2021 Q4  0.306411 -2.079734  0.257451 -0.014167   98.000000
 40  2022 Q1  0.303156  0.249238 -0.199052  0.505386  191.500000
 41  2022 Q2  0.218125 -0.596159  0.168921  0.299927  -34.552632
 42  2022 Q3  0.304728  1.726914 -0.996253 -0.726174  -40.227273
 43  2022 Q4  0.209264  0.154734  0.356927 -0.056673  -31.842105
 44  2023 Q1  0.259688  0.445464  0.330243 -0.227742 -112.000000,
 'HFRI4EHV':     Quarter  β_Mkt-RF      β_SMB     β_HML     β_Mom        β_RF
 0   2012 Q1  1.655158   0.314553 -1.323935 -0.254199         NaN
 1   2012 Q2  0.600359   2.445355  2.959101 -0.762030 -488.500000
 2   2012 Q3  0.849890   0.477056  1.065159 -0.294133  155.500000
 3   2012 Q4  0.597488   0.772541  0.060303 -0.542467         NaN
 4   2013 Q1  0.806175   1.102312  2.830211 -0.890918         NaN
 5   2013 Q2  0.659104  -0.049698  0.827288 -0.809624         NaN
 6   2013 Q3  0.491959   1.601790  1.096989  1.373632         NaN
 7   2013 Q4 -0.053475   0.038232 -0.056065  0.199612         NaN
 8   2014 Q1  0.427396   0.189096 -0.045870  0.230950         NaN
 9   2014 Q2  1.124347   0.340120 -1.690881  0.628850         NaN
 10  2014 Q3  0.381527   0.540992  0.095571  2.419002         NaN
 11  2014 Q4  0.233708  -0.225721 -0.173785  0.251566         NaN
 12  2015 Q1  0.539373   0.317897  0.744139 -0.725523         NaN
 13  2015 Q2  1.149002  -0.389134  0.317363 -0.050825         NaN
 14  2015 Q3  0.439685  -0.618878 -0.489119  0.243274         NaN
 15  2015 Q4  0.399275  -0.114763  1.053714 -0.575579 -233.000000
 16  2016 Q1  0.668043   1.554049 -1.077864 -1.093790  644.000000
 17  2016 Q2  1.848192  -1.892702  0.200155 -0.195215 -304.500000
 18  2016 Q3  0.534690   0.892713 -0.132349 -0.354275         NaN
 19  2016 Q4  0.437914   0.286037  0.353787 -0.428358  -30.500000
 20  2017 Q1  0.056300  -0.090310  0.053818  0.184211   34.500000
 21  2017 Q2 -0.082098   0.045102  0.024897 -0.132276  -18.000000
 22  2017 Q3  0.431144   0.097288  0.170711 -0.192463  -17.000000
 23  2017 Q4 -0.043715  -0.615601  2.981043  0.135356   51.000000
 24  2018 Q1  0.534419  -0.536043 -2.417406  0.363990  453.500000
 25  2018 Q2  0.684308   0.390931 -0.186777  0.317597         NaN
 26  2018 Q3  0.426916   0.231822 -0.028547  0.084327  139.000000
 27  2018 Q4  0.395067   1.176439 -0.346342 -0.154302 -185.500000
 28  2019 Q1  0.947739   0.974067  1.938732 -0.571995  170.500000
 29  2019 Q2  0.481463   1.532389  1.033584 -0.583182 -128.333333
 30  2019 Q3  0.462508   0.453954  0.090175 -0.041996   82.000000
 31  2019 Q4 -0.192076   0.645796  0.305004 -0.029754    4.750000
 32  2020 Q1  0.711860   0.778182  0.803972 -0.478845 -173.500000
 33  2020 Q2  0.512303 -14.739130  0.847940 -0.917153 -504.000000
 34  2020 Q3  0.558621  -1.771538  1.793851  0.241610         NaN
 35  2020 Q4  0.750854   7.405090 -0.716768 -0.799305         NaN
 36  2021 Q1  1.595661  -0.342044  1.138408 -0.473604 -507.500000
 37  2021 Q2  0.420213  -0.608996  0.052905 -1.279631         NaN
 38  2021 Q3  0.262755  -0.091934 -0.211136  0.095092         NaN
 39  2021 Q4  0.690317  -4.421927  0.811299 -0.194099  307.000000
 40  2022 Q1  0.448648   0.398288 -0.299495  0.765686  273.500000
 41  2022 Q2  0.663669  -1.382259  0.396840  0.403008  -62.526316
 42  2022 Q3  0.525200   2.828309 -1.822281 -1.271706  -72.863636
 43  2022 Q4  0.503014  -0.140739  0.679263 -0.378392  -68.881579
 44  2023 Q1  0.639371   0.446389  0.023082 -0.386169   30.000000}

In [43]:
# Remove β_RF column from all hedge funds in quarterly_betas_dict
for hf_name in quarterly_betas_dict.keys():
    if 'β_RF' in quarterly_betas_dict[hf_name].columns:
        quarterly_betas_dict[hf_name] = quarterly_betas_dict[hf_name].drop('β_RF', axis=1)

In [44]:
base_path = '/Users/jatindhurve/Desktop/PROJECTS/main_HF_project/all_output_results'  # Change this to your preferred directory
output_folder = os.path.join(base_path, 'All_Hedge_Fund_Betas')

os.makedirs(output_folder, exist_ok=True)

print(f"Directory created at: {output_folder}")

Directory created at: /Users/jatindhurve/Desktop/PROJECTS/main_HF_project/all_output_results/All_Hedge_Fund_Betas

### **HFRI 400 (US) Fund Weighted Composite Index (HFRI4FWC)**

In [45]:
# Example: If your hedge fund is named 'Fund_A'
hf_betas_HFRI4FWC = pd.DataFrame(quarterly_betas_dict['HFRI4FWC'])
hf_betas_HFRI4FWC.to_excel(os.path.join(output_folder, 'HFRI4FWC_betas.xlsx'), index=False)
hf_betas_HFRI4FWC.head()

   Quarter  β_Mkt-RF     β_SMB     β_HML     β_Mom
0  2012 Q1  1.251557  0.214303 -0.981955 -0.186317
1  2012 Q2  0.226077  0.446721  0.983295 -0.271952
2  2012 Q3 -0.160003 -0.097370 -0.180802  0.075068
3  2012 Q4  0.532527  0.662602 -0.011389 -0.400221
4  2013 Q1  0.500617  0.658718  1.783607 -0.560506

### **HFRI 400 (US) EH: Long/Short Index (HFRI4ELS)**

In [46]:
hf_betas_HFRI4ELS = pd.DataFrame(quarterly_betas_dict['HFRI4ELS'])
hf_betas_HFRI4ELS.to_excel(os.path.join(output_folder, 'HFRI4ELS_betas.xlsx'), index=False)
hf_betas_HFRI4ELS.head()

   Quarter  β_Mkt-RF     β_SMB     β_HML     β_Mom
0  2012 Q1  1.828523  0.297726 -1.422139 -0.268360
1  2012 Q2  0.524261  1.547814  2.421659 -0.646844
2  2012 Q3  0.607259  0.328087  0.794426 -0.176866
3  2012 Q4  0.532592  0.679355  0.030461 -0.453772
4  2013 Q1  0.693357  0.700659  2.684543 -0.835919

### **HFRI 400 (US) Event-Driven Index (HFRI4ED)**

In [47]:
hf_betas_HFRI4ED = pd.DataFrame(quarterly_betas_dict['HFRI4ED'])
hf_betas_HFRI4ED.to_excel(os.path.join(output_folder, 'HFRI4ED_betas.xlsx'), index=False)
hf_betas_HFRI4ED.head()

   Quarter  β_Mkt-RF     β_SMB     β_HML     β_Mom
0  2012 Q1  0.688885  0.234930 -0.635595 -0.131847
1  2012 Q2  0.262827  0.845628  1.233295 -0.326485
2  2012 Q3  0.357375  0.202300  0.443457 -0.128111
3  2012 Q4  0.349625  0.494175  0.141019 -0.452593
4  2013 Q1  0.400140  0.511337  1.440984 -0.452282

### **HFRI 400 (US) EH: Fundamental Value Index (HFRI4EHV)'**

In [48]:
hf_betas_HFRI4EHV = pd.DataFrame(quarterly_betas_dict['HFRI4EHV'])
hf_betas_HFRI4EHV.to_excel(os.path.join(output_folder, 'HFRI4EHV_betas.xlsx'), index=False)
hf_betas_HFRI4EHV.head()

   Quarter  β_Mkt-RF     β_SMB     β_HML     β_Mom
0  2012 Q1  1.655158  0.314553 -1.323935 -0.254199
1  2012 Q2  0.600359  2.445355  2.959101 -0.762030
2  2012 Q3  0.849890  0.477056  1.065159 -0.294133
3  2012 Q4  0.597488  0.772541  0.060303 -0.542467
4  2013 Q1  0.806175  1.102312  2.830211 -0.890918